*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    color: #444444;
}
.nav-top{
    background-color: #00ada7;
}
.nav-top div a{
    color: white;
}
.nav-top div a:hover{
    color: #444444;
}
.social{
    display: flex;
    justify-content: end;
}
nav{
    font-family: 'Bree Serif', serif;
    margin-top: 10px;
}
nav a{
    text-decoration: none;
}
.isotipo{
    width: 100px;
    height: 100px;
}
.logotipo{
    color: #00ada7;
    font-size: 33px;
}
.nav-link{
    color: #444444;
}
.nav-link:hover{
    color: #00ada7;
}
.dropdown-item{
    color: #444444;
    border-bottom: solid transparent;
}
.dropdown-item:hover{
    color: #00ada7;
    background-color: white;
}
.navbar-toggler-icon{
    color: #00ada7;
    border: none;
}
.actual{
    color: #00ada7;
}
.actual:hover{
    color: #444444;
}
.title{
    padding: 30px;
    font-family: 'Bree Serif', serif;
    text-align: center;
}
.card{
    border-radius: 0;
    border: none;
}
.card-header{
    background-color: #00ada7;
}
.about{
    background-image: url("../img/background/about-arcano-dos.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
}
.hero{
    background-image: url("../img/incense-stick-405899_960_720.jpg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
}
.tarot{
    background-image: url("../img/background/tarot-arcano-dos.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
}
.waves{
    background-image: url("../img/background/waves-pattern-arcano-dos.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
}
.heroine-dark{
    background-color: #444444;
    color: white;
    padding-top: 10px;
}
.heroine-dark a{
    color: #00ada7;
}
.heroine-dark a:hover{
    color: white;
}
.heroine-light{
    background-color: #00ada7;
    padding-top: 100px;
}
.title-dark{
    color: white;
}
.btn{
    font-family: 'Bree Serif', serif;
}
.btn-dark{
    background-color: white;
    color: #444444;
}
.btn-light{
    background-color: #00ada7;
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
    font-family: 'Bree Serif', serif;
}
footer a:hover{
    color: #444444;
}
@media (max-width: 500px){
    .social{
        display: flex;
        justify-content: center;
    }
    .navbar-500{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    .isotipo{
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
        justify-content: center;
    }
    .logotipo{
        font-size: 44px;
    }
    nav .nav-item{
        text-align: center;
    }
    .tarot{
        background-image: url("../img/background/tarot-arcano-dos.png");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: right;
        background-size: cover;
        width: 100%;
        height: 90vh;
    }
}
@media (max-width: 800px){
    .waves{
        height: auto;
    }
}